<% layout('layouts/boilerplate') %>

  
    <h3>CREATE NEW </h3>
    <div class="row" >
      <div class="col-8 offset-2">
    <form method="POST" 
    action="/listings" 
    class="needs-validation" 
    novalidate
     enctype="multipart/form-data" >
      <div class="mb-3">
  <label for="title " class="form-label">Title:</label>
  <input type="text" id="image" name="image" placeholder="Enter title"  class="form-control"
  required>
  <div class="valid-feedback ">Title looks good!</div>
  <div class="invalid-feedback">Title required</div>
  
  </div>
  

  <div class="mb-3">
  <label for="description" class="form-label">Description:</label>
  <textarea name="listing[description]" id="description" placeholder="Enter description" class="form-control" required></textarea>
  <div class="invalid-feedback">Short Description is is required</div>
  </div>

  <div class="mb-3">
  <label for="Image-URL" class="form-label"> Upload Image</label>
  <input type="file" name="image" id="image" class="form-control"  >
  required 
  
  </div>
<div class="row">
  <div class="mb-3 col-md-4">
  <label for="Price" class="form-label">Price:</label>
  <input name="listing[price]" placeholder="Enter price" id="price" class="form-control" required>
  <div class="invalid-feedback">price is required</div>
  </div>



   <div class="mb-3 col-md-8">
  <label for="Country" class="form-label">Country:</label>
  <input type="text" name="listing[country]" placeholder="Enter country" id="country" class="form-control" required>
  <div class="invalid-feedback">valid country name is required</div>
  </div>
  </div>

  <div class="mb-3">
  <label for="location" class="form-label">Location:</label>
  <input type="text" name="listing[location]" placeholder="Enter location" id="location" class="form-control" required>
  <div class="invalid-feedback">location should be valid</div>
  </div>

 

  <button type="submit" class="btn  btn-dark  addBtn" >Add</button><br><br>
</form>
</div>
    </div>


